<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
  <div id="controller-wrapper">
    <div id="upper-wrapper">
    {% for item in upper %}
      <button class="keypad-button" onclick="keyPress(this.id)" id="{{item}}"</button>
    {% endfor %}
    </div>
    <div id="volume-wrapper">
    {% for item in volume %}
      <button class="keypad-button" onclick="keyPress(this.id)" id="{{item}}"</button>
    {% endfor %}
    </div>
    <div id="keypad-wrapper">
    {% for item in keypad %}
      <button class="keypad-button" onclick="keyPress(this.id)" id="{{item}}"</button>
    {% endfor %}
    </div>
    <div id="lower-wrapper">
    {% for item in lower %}
      <button class="keypad-button" onclick="keyPress(this.id)" id="{{item}}"</button>
    {% endfor %}
    </div>
    <div id="favorites-wrapper">
    {% for app in favorites %}
      <button class="app-button" onclick="appLaunch({{app.id}})">
        <img src="{{tvurl}}/query/icon/{{app.id}}"/>
      </button>  
    {% endfor %}
    </div>
  </div>

<script>
"use strict";
document.addEventListener('keypress', (event) => {
  if (event.key == " ") {
    keyBoardPress("%20");
    return;
  } else if (event.key.startsWith("Arrow")) {
    keyPress(event.key.substr(5));
    return;
  } else if (event.key == "Backspace"){
    keyPress("Backspace");
    event.preventDefault();
    return;
  } else if (event.key == "Escape"){
    keyPress("back");
    return;
  } else if (event.key == "Tab"){
    keyPress("home");
    return;
  } else if (event.key == "Enter"){
    keyPress("select");
    return;
  } else {
    keyBoardPress(event.key);
  };
})

function keyBoardPress(key) {
  var xhr = new XMLHttpRequest();
  console.log(key);
  xhr.open("POST", "/keyboardpress/" + key, true);
  xhr.send();
}

function keyPress(key) {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/keypress/" + key, true);
  xhr.send();
}

function appLaunch(app) {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/launcher/" + app, true);
  xhr.send();
}

</script>

</body>
</html>
